<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='features_style.css') }}">
    <title>Features | YogaGuru</title>
</head>

<body>
    <div class="top">
        <h1>Features!</h1>
        <div class="home"><a href="{{ url_for('index')}}"><img src="/static/round.png" class ="logo"></a></div>
    </div>
    <div class="hero">
        <a href="{{url_for('prompt')}}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <B style="margin-left: 1.2rem;">HealthPredict</B>
            <br></br>
            <p>Based on your health condition, We will suggest a set of yoga's to help improve your well-being and relieve discomfort</p>

            <img src="{{ url_for('static', filename='assets/first.png') }}" alt="voice input">

        </a>
        <a href="{{url_for('pose')}}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <B style="margin-left: 1.2rem;">PoseCorrector</B>
            <br></br>
            <p>Enhance your practice with real-time posture guidance, helping you achieve proper alignment for maximum benefit and reduced risk of injury.</p>
            <img src="{{ url_for('static', filename='assets/yoga1.jpeg') }}" alt="voice input">
        </a>
       
    </div>
</body>

</html>