<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='ourTeam_style.css') }}">
    <title>Our Team | CogniQ</title>
</head>
<body>
    <div class="top">
        <h1>Meet Our Team!</h1>
        <div class="home"><a href="{{ url_for('index')}}">Home</a></div>
    </div>
    <div class="hero">
    
    
    <a href="https://www.linkedin.com/in/mihika-khemka-236a8526b/">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <img src="{{ url_for('static', filename='assets/mihikakhemka.jpg') }}" alt="Mihika Khemka">
        <br><br>
        <B>          Mihika Khemka</B>
        <br></br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </a>
    <a href="https://www.linkedin.com/in/sidhi-grover-700742262/">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <img src="{{ url_for('static', filename='assets/sidhi.jpg') }}" alt="Sidhi Grover">
<br><br>
        <B>Sidhi Grover</B>
        <br></br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </a>
    <a href="https://www.linkedin.com/in/hardik-singh-bhadoria-86bb60259/">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <img src="{{ url_for('static', filename='assets/hardik.jpg') }}" alt="Hardik Singh Bhadoria">
        <br><br>
        <B>Hardik Singh Bhadoria</B>
        <br></br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </a>
</div>
</body>
</html>
