<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_signup_style.css') }}">
    <title>Sign Up | CogniQ</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Sign Up</h1>
            <form action="{{url_for('signup')}}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
                
                <input type="submit" value="Sign Up">
                <p>Already have an account? <a href="{{url_for('login')}}">Login</a></p>
            </form>
        </div>
    </div>
    {% include 'flash_error.html' %}
</body>
</html>
